{% extends "template/base.html" %}

{% block title %}Lumeex{% endblock %}

{% block content %}

    <h1>Static Gallery Generator</h1>
    <p>Use this generator to create a static gallery from your photos. Then, upload the static files to your preferred web server.</p>

    <!-- Hero Upload Section -->
    <div class="section">
      <h2>Steps</h2>
      <p> Follow the steps to generate your static gallery</p>
      <div class="stepper">
        <ul id="stepper">
          <li><a href="/gallery-editor">Upload your photos</a></li>
          <div></div>
          <li><a href="/site-info">Configure site info</a></li>
          <div></div>
          <li><a href="/theme-editor">Customize your theme</a></li>
          <div></div>
          <li><button id="stepper-build">Generate your static site!</button></li>
        </ul>
      </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}