<!-- Footer -->
    <div id="footer" class="content-wrapper navigation appear">
      <div class="footer-content">
        <ul class="social">
          <li class="social-item appear">
            <a href="{{ instagram_url }}"><i class="fa-brands fa-instagram"></i></a>
        </ul>
        <div class="nav-links">
          <ul class="nav-list">
            {{ menu_items }}
          </ul>
        </div>
        <div class="inner bottom-link appear">
          <p class="navigation-subtitle appear">{{ copyright }}</p>
          <p class="navigation-bottom-link appear"><a href="{{ legal_link }}">{{ legal_label }}</a></p>
        </div>
      </div>
    </div>
    <button id="scrollToTop" class="scroll-up" aria-label="up">↑</button>
    <script type="text/javascript" src="/js/lazy.js?{{ build_date }}" defer></script>
