<head>
    <!-- Meta -->
    <title>{{ title }}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-192.png" sizes="192x192">
    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="/img/favicon/favicon-196.png">
    <!-- iOS -->
    <link rel="apple-touch-icon" href="/img/favicon/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/img/favicon/favicon-180.png" sizes="180x180">
    <meta charset="utf-8">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta name="theme-color" content="{{ browser_color }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="{{ author }}">
    <link rel="canonical" href="{{ canonical }}"/>
    <!-- Ressources -->
    {{ google_fonts_link }}
    {{ font_preloads }}
    <link href="/style/style.css?{{ build_date }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/style/colors.css?{{ build_date }}">
    <link rel="stylesheet" href="/style/fonts.css?{{ build_date }}">
    {{ theme_css }}
    <!-- Social -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{ thumbnail }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home - {{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ canonical }}" />
    <meta property="og:site_name" content="{{ title }}" />
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/7c6bfe3c24.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/lumeex.js?{{ build_date }}" defer></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>