<!-- Hero -->
    <div id="hero">
      <div class="content-wrapper appear">
        <div class="section">
          <div class="hero-background">
            <div class="hero-title appear">
              <div>
                <h1>{{ title }}</h1>
                <p>{{ subtitle }}</p>
              </div>
            </div>
          </div>
          <div class="hero-menu navigation">
            <ul class="social">
              <li class="social-item appear">
                <a href="{{ instagram_url }}"><i class="fa-brands fa-instagram"></i></a>
            </ul>
            <div class="nav-links">
              <ul class="nav-list">
                {{ menu_items }}
              </ul>
            </div>
            <div class="inner bottom-link appear">
              <p class="navigation-bottom-link appear"><a href="#gallery">↓</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>